{% extends "base.html" %}


{% block content %}
    <div>
        <h1>
            Todo list
            <a href="{% url 'task:task-create' %}">Add</a>
        </h1>
    </div>
    {% for task in tasks %}
        <h2>
            {{ task.content }}
            {% if task.is_done %}
                Done
                <a href="{% url 'task:task-toggle-done' task.pk %}">Undo</a>
            {% else %}
                Not done
                <a href="{% url 'task:task-toggle-done' task.pk %}">Completed</a>
            {% endif %}
        </h2>
        <p>Created_at {{ task.time_create }}, Deadline: {{ task.deadline }}</p>
        Tags:
        {% for tag in tags %}
            {{ tag.name }}
        {% endfor %}
        <a href="{% url 'task:task-update' task.pk %}">Update</a>
        <a href="{% url 'task:task-delete' task.pk %}">Delete</a>
        
    {% endfor %}
{% endblock %}
