{% extends "base.html" %}

{% block content %}
    <h1>
        Tags
        <a href="{% url 'task:tag-create' %}" class="btn btn-primary link-to-page">
            Add
        </a>
    </h1>
    <table class="table">
        <tr>
            <th>NAME</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for tag in tag_list %}
            <tr>
                <td><b>{{ tag.name }}</b></td>
                <td><a href="{% url 'task:tag-update' tag.pk %}" class="btn btn-sm btn-secondary text-decoration-none">Update</a></td>
                <td><a href="{% url 'task:tag-delete' tag.pk %}" class="btn btn-sm btn-secondary text-decoration-none">Delete</a></td>
            </tr>
        {% endfor %}
    </table>    
{% endblock %}